In [ ]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings(action = 'ignore')
warnings.filterwarnings('ignore')

# 시각화를 위한 라이브러리 호출
import matplotlib
from matplotlib import font_manager, rc
import matplotlib.font_manager as fm
import matplotlib.pyplot as plt
import seaborn as sns

# 폰트 경로 지정
# font_path = '/usr/share/fonts/truetype/nanum/NanumBarunGothic.ttf'



# 폰트 적용
# plt.rc('font', family=font_prop.get_name())

# 나눔바른고딕 폰트 경로 설정
font_path = '/usr/share/fonts/truetype/nanum/NanumBarunGothic.ttf'
# 폰트 속성 설정
font_prop = fm.FontProperties(fname=font_path)
# 폰트 설정
plt.rcParams['font.family'] = 'NanumBarunGothic'
plt.rcParams['axes.unicode_minus'] = False
plt.rc('font', family='NanumBarunGothic')

In [ ]:
from google.colab import drive

drive.mount('/content/drive')
# 구글 클라우드 데이터 위치
DATA_DIR = '/content/drive/My Drive/Colab Notebooks/기경데분'

Mounted at /content/drive

In [ ]:
house_21 = pd.read_csv(f'{DATA_DIR}/서울특별시_전월세가_2021.txt', encoding = 'cp949', delimiter=",")
house_22 = pd.read_csv(f'{DATA_DIR}/서울특별시_전월세가_2022.csv',encoding = 'cp949')

In [ ]:
house_21.shape

(524675, 23)

In [ ]:
house_22.shape

(560665, 23)

In [ ]:
house_df = pd.concat([house_21, house_22])

In [ ]:
house_df = house_df[house_df['전월세구분'] == '월세']
house_df.reset_index(drop=True, inplace=True)
house_df = house_df[['자치구명', '법정동코드', '지번구분코드', '본번', '부번', '층', '계약일',
         '임대면적', '보증금(만원)', '임대료(만원)', '건축년도', '건물용도']]

In [ ]:
# 데이터프레임에서 결측치가 있는 행을 제거하기
house_df.dropna(axis=0, inplace=True)

In [ ]:
def processing(df):
    df['계약일'] = df['계약일'].astype('str')
    df['연도'] = df['계약일'].str[:4]
    df['월'] = df['계약일'].str[4:6]
    df['일'] = df['계약일'].str[6:]
    df['연도'] = df['연도'].astype('int')
    df['월'] = df['월'].astype('int')
    df['일'] = df['일'].astype('int')

    df['지번구분코드'] = df['지번구분코드'].astype('int')
    df['층'] = df['층'].astype('int')
    df['본번'] = df['본번'].astype('int')
    df['부번'] = df['부번'].astype('int')
    df['건축년도'] = df['건축년도'].astype('int')

    jachigu = pd.get_dummies(df['자치구명'], prefix = '자치구명')
    df = pd.concat([df, jachigu], axis=1)

    df['건물용도'] = df['건물용도'].replace('아파트', 4)
    df['건물용도'] = df['건물용도'].replace('단독다가구', 3)
    df['건물용도'] = df['건물용도'].replace('연립다세대', 2)
    df['건물용도'] = df['건물용도'].replace('오피스텔', 1)

    df = df.sort_values(by='계약일', ascending=True)
    df.reset_index(drop=True, inplace=True)

    # df.drop(['계약일'], axis = 1, inplace = True)
    return df

In [ ]:
house_df = processing(house_df)

In [ ]:
house_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309611 entries, 0 to 309610
Data columns (total 40 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   자치구명       309611 non-null  object
 1   법정동코드      309611 non-null  int64
 2   지번구분코드     309611 non-null  int64
 3   본번         309611 non-null  int64
 4   부번         309611 non-null  int64
 5   층          309611 non-null  int64
 6   계약일        309611 non-null  object
 7   임대면적       309611 non-null  float64
 8   보증금(만원)    309611 non-null  int64
 9   임대료(만원)    309611 non-null  int64
 10  건축년도       309611 non-null  int64
 11  건물용도       309611 non-null  int64
 12  연도         309611 non-null  int64
 13  월          309611 non-null  int64
 14  일          309611 non-null  int64
 15  자치구명_강남구   309611 non-null  uint8
 16  자치구명_강동구   309611 non-null  uint8
 17  자치구명_강북구   309611 non-null  uint8
 18  자치구명_강서구   309611 non-null  uint8
 19  자치구명_관악구   309611 non-null  uint8
 20  자치구명_광진구   309611 non-null  uint8
 21  자치구명_구로구   309611 non-null  uint8
 22  자치구명_금천구   309611 non-null  uint8
 23  자치구명_노원구   309611 non-null  uint8
 24  자치구명_도봉구   309611 non-null  uint8
 25  자치구명_동대문구  309611 non-null  uint8
 26  자치구명_동작구   309611 non-null  uint8
 27  자치구명_마포구   309611 non-null  uint8
 28  자치구명_서대문구  309611 non-null  uint8
 29  자치구명_서초구   309611 non-null  uint8
 30  자치구명_성동구   309611 non-null  uint8
 31  자치구명_성북구   309611 non-null  uint8
 32  자치구명_송파구   309611 non-null  uint8
 33  자치구명_양천구   309611 non-null  uint8
 34  자치구명_영등포구  309611 non-null  uint8
 35  자치구명_용산구   309611 non-null  uint8
 36  자치구명_은평구   309611 non-null  uint8
 37  자치구명_종로구   309611 non-null  uint8
 38  자치구명_중구    309611 non-null  uint8
 39  자치구명_중랑구   309611 non-null  uint8
dtypes: float64(1), int64(12), object(2), uint8(25)
memory usage: 42.8+ MB

In [ ]:
house_df.drop(['자치구명', '계약일'], axis=1, inplace=True)

In [ ]:
drop_index = house_df[house_df['건축년도'] < 1300].index
house_df.drop(drop_index, axis=0, inplace=True)
house_df.reset_index(drop=True, inplace=True)

In [ ]:
house_df.columns

Index(['법정동코드', '지번구분코드', '본번', '부번', '층', '계약일', '임대면적', '보증금(만원)', '임대료(만원)',
       '건축년도', '건물용도', '연도', '월', '일', '자치구명_강남구', '자치구명_강동구', '자치구명_강북구',
       '자치구명_강서구', '자치구명_관악구', '자치구명_광진구', '자치구명_구로구', '자치구명_금천구', '자치구명_노원구',
       '자치구명_도봉구', '자치구명_동대문구', '자치구명_동작구', '자치구명_마포구', '자치구명_서대문구',
       '자치구명_서초구', '자치구명_성동구', '자치구명_성북구', '자치구명_송파구', '자치구명_양천구', '자치구명_영등포구',
       '자치구명_용산구', '자치구명_은평구', '자치구명_종로구', '자치구명_중구', '자치구명_중랑구'],
      dtype='object')

In [ ]:
house_df.drop(['계약일'], axis=1, inplace=True)

In [ ]:
import scipy.stats as stats
# print(stats.pearsonr(house_df['임대료(만원)'],house_df['법정동코드']))
print(stats.pearsonr(house_df['임대료(만원)'],house_df['지번구분코드']))
# print(stats.pearsonr(house_df['임대료(만원)'],house_df['본번']))
# print(stats.pearsonr(house_df['임대료(만원)'],house_df['부번']))
print(stats.pearsonr(house_df['임대료(만원)'],house_df['층']))
print(stats.pearsonr(house_df['임대료(만원)'],house_df['임대면적']))
print(stats.pearsonr(house_df['임대료(만원)'],house_df['보증금(만원)']))
# print(stats.pearsonr(house_df['임대료(만원)'],house_df['건축년도']))
print(stats.pearsonr(house_df['임대료(만원)'],house_df['건물용도']))
# print(stats.pearsonr(house_df['임대료(만원)'],house_df['연도']))
# print(stats.pearsonr(house_df['임대료(만원)'],house_df['월']))
# print(stats.pearsonr(house_df['임대료(만원)'],house_df['일']))

PearsonRResult(statistic=0.03129297536968827, pvalue=6.18995954961032e-68)
PearsonRResult(statistic=0.0042889660910849885, pvalue=0.017009706790982328)
PearsonRResult(statistic=0.009086051765470206, pvalue=4.2857141592657186e-07)
PearsonRResult(statistic=-0.0254648484080837, pvalue=1.3739465227828598e-45)
PearsonRResult(statistic=0.23223364649053885, pvalue=0.0)
PearsonRResult(statistic=0.5066393161235805, pvalue=0.0)
PearsonRResult(statistic=0.2054482361411571, pvalue=0.0)
PearsonRResult(statistic=-0.03498019616315995, pvalue=1.980245002583744e-84)
PearsonRResult(statistic=0.21004825804901217, pvalue=0.0)
PearsonRResult(statistic=0.04172527262912108, pvalue=2.425016138603634e-119)
PearsonRResult(statistic=0.013979173244490845, pvalue=7.325159157946233e-15)
PearsonRResult(statistic=0.002681624944351826, pvalue=0.13566633565121097)

In [ ]:
df = house_df[['지번구분코드','층', '임대면적','보증금(만원)','건물용도', '자치구명_강남구', '자치구명_강동구', '자치구명_강북구',
       '자치구명_강서구', '자치구명_관악구', '자치구명_광진구', '자치구명_구로구', '자치구명_금천구', '자치구명_노원구',
       '자치구명_도봉구', '자치구명_동대문구', '자치구명_동작구', '자치구명_마포구', '자치구명_서대문구',
       '자치구명_서초구', '자치구명_성동구', '자치구명_성북구', '자치구명_송파구', '자치구명_양천구', '자치구명_영등포구',
       '자치구명_용산구', '자치구명_은평구', '자치구명_종로구', '자치구명_중구', '자치구명_중랑구', '임대료(만원)']]

In [ ]:
df.describe()

,지번구분코드,층,임대면적,보증금(만원),건물용도,자치구명_강남구,자치구명_강동구,자치구명_강북구,자치구명_강서구,자치구명_관악구,...,자치구명_성북구,자치구명_송파구,자치구명_양천구,자치구명_영등포구,자치구명_용산구,자치구명_은평구,자치구명_종로구,자치구명_중구,자치구명_중랑구,임대료(만원)
count,309611.000000,309611.000000,309611.000000,309611.000000,309611.000000,309611.000000,309611.000000,309611.000000,309611.000000,309611.000000,...,309611.000000,309611.000000,309611.000000,309611.000000,309611.000000,309611.000000,309611.000000,309611.000000,309611.000000,309611.000000
mean,1.001625,7.603315,49.708394,14190.381065,2.887394,0.082597,0.058347,0.013339,0.072824,0.039065,...,0.028168,0.115212,0.035444,0.040334,0.023772,0.038358,0.013152,0.015862,0.024360,76.470616
std,0.053560,5.856612,30.003226,21916.252349,1.247613,0.275273,0.234400,0.114723,0.259847,0.193750,...,0.165452,0.319279,0.184901,0.196743,0.152338,0.192059,0.113926,0.124941,0.154163,82.635202
min,1.000000,-3.000000,3.400000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,3.000000,25.480000,1500.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,35.000000
50%,1.000000,6.000000,43.060000,5000.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,58.000000
75%,1.000000,11.000000,62.590000,18000.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,90.000000
max,3.000000,69.000000,317.360000,500000.000000,4.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4000.000000

In [ ]:
df['교차항_임대면적X보증금'] = df['임대면적'] * df['보증금(만원)']

In [ ]:
df.columns

Index(['지번구분코드', '층', '임대면적', '보증금(만원)', '건물용도', '자치구명_강남구', '자치구명_강동구',
       '자치구명_강북구', '자치구명_강서구', '자치구명_관악구', '자치구명_광진구', '자치구명_구로구', '자치구명_금천구',
       '자치구명_노원구', '자치구명_도봉구', '자치구명_동대문구', '자치구명_동작구', '자치구명_마포구',
       '자치구명_서대문구', '자치구명_서초구', '자치구명_성동구', '자치구명_성북구', '자치구명_송파구', '자치구명_양천구',
       '자치구명_영등포구', '자치구명_용산구', '자치구명_은평구', '자치구명_종로구', '자치구명_중구', '자치구명_중랑구',
       '임대료(만원)', '교차항_임대면적X보증금'],
      dtype='object')

In [ ]:
x = df[['지번구분코드', '층', '임대면적', '보증금(만원)', '건물용도', '자치구명_강남구', '자치구명_강동구',
       '자치구명_강북구', '자치구명_강서구', '자치구명_관악구', '자치구명_광진구', '자치구명_구로구', '자치구명_금천구',
       '자치구명_노원구', '자치구명_도봉구', '자치구명_동대문구', '자치구명_동작구', '자치구명_마포구',
       '자치구명_서대문구', '자치구명_서초구', '자치구명_성동구', '자치구명_성북구', '자치구명_송파구', '자치구명_양천구',
       '자치구명_영등포구', '자치구명_용산구', '자치구명_은평구', '자치구명_종로구', '자치구명_중구', '자치구명_중랑구','교차항_임대면적X보증금']]
y = df['임대료(만원)']

In [ ]:
from sklearn.model_selection import train_test_split

# 독립 변수와 종속 변수를 나누기 위한 train-test split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

# train-test split 결과 확인
print("학습 데이터 (x_train) 크기:", x_train.shape)
print("테스트 데이터 (x_test) 크기:", x_test.shape)
print("학습 데이터 (y_train) 크기:", y_train.shape)
print("테스트 데이터 (y_test) 크기:", y_test.shape)

학습 데이터 (x_train) 크기: (247688, 31)
테스트 데이터 (x_test) 크기: (61923, 31)
학습 데이터 (y_train) 크기: (247688,)
테스트 데이터 (y_test) 크기: (61923,)

In [ ]:
train_reg = x_train[['지번구분코드', '층', '임대면적', '보증금(만원)', '건물용도', '자치구명_강남구', '자치구명_강동구',
       '자치구명_강북구', '자치구명_강서구', '자치구명_관악구', '자치구명_광진구', '자치구명_구로구', '자치구명_금천구',
       '자치구명_노원구', '자치구명_도봉구', '자치구명_동대문구', '자치구명_동작구', '자치구명_마포구',
       '자치구명_서대문구', '자치구명_서초구', '자치구명_성동구', '자치구명_성북구', '자치구명_송파구', '자치구명_양천구',
       '자치구명_영등포구', '자치구명_용산구', '자치구명_은평구', '자치구명_종로구', '자치구명_중구', '자치구명_중랑구','교차항_임대면적X보증금']]
test_reg = x_test[['지번구분코드', '층', '임대면적', '보증금(만원)', '건물용도', '자치구명_강남구', '자치구명_강동구',
       '자치구명_강북구', '자치구명_강서구', '자치구명_관악구', '자치구명_광진구', '자치구명_구로구', '자치구명_금천구',
       '자치구명_노원구', '자치구명_도봉구', '자치구명_동대문구', '자치구명_동작구', '자치구명_마포구',
       '자치구명_서대문구', '자치구명_서초구', '자치구명_성동구', '자치구명_성북구', '자치구명_송파구', '자치구명_양천구',
       '자치구명_영등포구', '자치구명_용산구', '자치구명_은평구', '자치구명_종로구', '자치구명_중구', '자치구명_중랑구','교차항_임대면적X보증금']]

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(train_reg)
train_scaled = scaler.transform(train_reg)
train_df_scaled = pd.DataFrame(data = train_scaled, columns = train_reg.columns)
test_scaled = scaler.transform(test_reg)
test_df_scaled = pd.DataFrame(data = test_scaled, columns = test_reg.columns)

In [ ]:
y_train = pd.DataFrame(y_train)
y_test = pd.DataFrame(y_test)

In [ ]:
x_train.reset_index(drop=True, inplace=True)
x_test.reset_index(drop=True, inplace=True)
y_train.reset_index(drop=True, inplace=True)
y_test.reset_index(drop=True, inplace=True)

In [ ]:
train = train_df_scaled
test = test_df_scaled

In [ ]:
x_train_강남구 = train[['지번구분코드', '층', '임대면적', '보증금(만원)', '건물용도', '자치구명_강동구',
       '자치구명_강북구', '자치구명_강서구', '자치구명_관악구', '자치구명_광진구', '자치구명_구로구', '자치구명_금천구',
       '자치구명_노원구', '자치구명_도봉구', '자치구명_동대문구', '자치구명_동작구', '자치구명_마포구',
       '자치구명_서대문구', '자치구명_서초구', '자치구명_성동구', '자치구명_성북구', '자치구명_송파구', '자치구명_양천구',
       '자치구명_영등포구', '자치구명_용산구', '자치구명_은평구', '자치구명_종로구', '자치구명_중구', '자치구명_중랑구','교차항_임대면적X보증금']]
y_train_강남구 = y_train

x_test_강남구 = test[['지번구분코드', '층', '임대면적', '보증금(만원)', '건물용도', '자치구명_강동구',
       '자치구명_강북구', '자치구명_강서구', '자치구명_관악구', '자치구명_광진구', '자치구명_구로구', '자치구명_금천구',
       '자치구명_노원구', '자치구명_도봉구', '자치구명_동대문구', '자치구명_동작구', '자치구명_마포구',
       '자치구명_서대문구', '자치구명_서초구', '자치구명_성동구', '자치구명_성북구', '자치구명_송파구', '자치구명_양천구',
       '자치구명_영등포구', '자치구명_용산구', '자치구명_은평구', '자치구명_종로구', '자치구명_중구', '자치구명_중랑구','교차항_임대면적X보증금']]
y_test_강남구 = y_test